<?php include($VIEW_PATH . "/_public/header.html");?>
<ul class="breadcrumb">
    <li><a href="#">首页</a> <span class="divider">/</span></li>
    <li><a href="#">模板宏自定义</a> <span class="divider">/</span></li>
    <li class="active"><?=(isset($req_id) && $req_id) > 0 ? '编辑' : '添加'?></li>
</ul>
<form id="micro_form" class="form-horizontal"></form>
<script id="micro_form_template" type="text/template">
    
    <div class="control-group">
        <label class="control-label" for="code">宏变量</label>
        <div class="controls">
            <input type="text" id="code" name="code" value="<%=code%>" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="micro_name">名称</label>
        <div class="controls">
            <input type="text" id="micro_name" name="name" value="<%=name%>" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="value_type">显示类型</label>
        <div class="controls">
            <select id="value_type" name="value_type">
                <% _.each(valueTypes, function(valueType, index) { %>
                <% if(valueType.value == value_type) { %>
                <option value="<%=valueType.value%>" selected="selected"><%=valueType.label%></option>
                <% } else { %>
                <option value="<%=valueType.value%>"><%=valueType.label%></option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="value">值</label>
        <div class="controls">
            <input type="text" id="value" name="value" value="<%=values%>" />
            <span class="help-inline">格式为：[['name', 'value'], ['name', 'value']...]</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="validate">值类型</label>
        <div class="controls">
            <select id="validate" name="validate">
                <% _.each(validates, function(validateRow, index) { %>
                <% if(validateRow.value == validate) { %>
                <option value="<%=validateRow.value%>" selected="selected"><%=validateRow.label%></option>
                <% } else { %>
                <option value="<%=validateRow.value%>"><%=validateRow.label%></option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="memo">字段备注</label>
        <div class="controls">
            <textarea id="memo" name="memo"><%=memo%></textarea>
        </div>
    </div>
    <div class="form-actions">
        <a href="<?= Core::url(array('m' => 'micro', 'a' => 'index')); ?>" class="btn btn-small">
            <i class="icon-arrow-left"></i>返回列表
        </a>
        <button id="save_micro_btn" type="button" class="btn btn-primary btn-small">
            <i class="icon-hdd icon-white"></i>保存宏变量
        </button>
    </div>
</script>
<?php include($VIEW_PATH . "/_public/footer.html") ?>
