<?php include($VIEW_PATH . "/_public/header.html"); ?>
<div class="well">
	<button class="btn btn-primary btn-small"><i class="icon-plus icon-white"></i>添加</button>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th colspan="12">
				<button class="btn btn-mini">修改</button>
				<button class="btn btn-mini">删除</button>
				<button class="btn btn-mini">暂停</button>
				<button class="btn btn-mini">恢复</button>
			</th>
		<tr>
		<tr>
			<th width="5%"><input type="checkbox" /></th>
			<th width="19%">广告名称</th>
			<th width="10%">创意类型</th>
			<th width="10%">创意尺寸</th>
			<th width="10%">是否优化</th>
			<th width="10%">创建时间</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="5%"><input type="checkbox" /></td>
			<td>
				<a href="#">欧莱雅-前贴片</a>n[<span style="margin:0px;color:#c5c5c5;">预览</span>]
				<p style="margin:0px;color:#c5c5c5;">素材：2 个</p>
			</td>
			<td>前贴片</td>
			<td>250x250</td>
			<td>是</td>
			<td>2013-06-27 21:45:34</td>
		</tr>
		<tr>
			<td width="5%"><input type="checkbox" /></td>
			<td>
				<a href="#">欧莱雅-全屏下推</a> [<span style="margin:0px;color:#c5c5c5;">预览</span>]
				<p style="margin:0px;color:#c5c5c5;">素材：1 个</p>
			</td>
			<td>全屏下推</td>
			<td>250x250</td>
			<td>否</td>
			<td>2013-06-27 21:45:34</td>
		</tr>
	</tbody>
</table>
<div class="pagination pull-right">
	<ul>
		<li><a href="#">上一页</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">下一页</a></li>
	</ul>
</div>
<?php include($VIEW_PATH . "/_public/footer.html") ?>