<?php include($VIEW_PATH . "/_public/header.html"); ?>
<ul class="breadcrumb">
    <li><a href="#">首页</a> <span class="divider">/</span></li>
    <li><a href="#">素材</a> <span class="divider">/</span></li>
    <li class="active">添加</li>
</ul>
<form id="material_form" class="form-horizontal"></form>
<script id="mat_form_template" type="text/template">
    <div class="control-group">
        <label class="control-label" for="mat_name">名称</label>
        <div class="controls">
            <input type="text" id="mat_name" name="name" value="<%=name%>" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="advertiser">所属广告主</label>
        <div class="controls">
            <select id="advertiser" name="adv_id">
                <option value="0">选择广告主</option>
                <% _.each(advertisers, function(adv, index) { %>
                <% if(adv.id == adv_id) { %>
                <option value="<%=adv.id%>" selected="selected"><%=adv.name%></option>
                <% } else { %>
                <option value="<%=adv.id%>"><%=adv.name%></option>
                <% } %>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="type">素材类型</label>
        <div class="controls">
            <select id="type" name="type">
                <option value="image">图片</option>
                <option value="video">视频</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="url">素材文件</label>
        <div class="controls">
            <input type="hidden" id="url" name="url" value="<%=url%>" />
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-new thumbnail"><img src="<?=$WEB_ROOT?>/pub/img/no_image.gif" style="width: 260px; height: 120px;"  /></div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                <div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">选择文件</span>
                        <span class="fileupload-exists">更改</span>
                        <input type="file" id="file" name="file" />
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <a href="<?= Core::url(array('m' => 'material', 'a' => 'index')); ?>" class="btn btn-small">
            <i class="icon-arrow-left"></i>返回列表
        </a>
        <button id="save_material_btn" type="button" class="btn btn-primary btn-small">
            <i class="icon-hdd icon-white"></i>保存数据
        </button>
    </div>
</script>
<?php include($VIEW_PATH . "/_public/footer.html") ?>