<?php include($VIEW_PATH . "/_public/header.html"); ?>
<div class="well">
	<button class="btn btn-primary btn-small"><i class="icon-plus icon-white"></i>添加</button>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th colspan="7">
				<button class="btn btn-mini">修改</button>
				<button class="btn btn-mini">删除</button>
				<button class="btn btn-mini">暂停</button>
				<button class="btn btn-mini">恢复</button>
			</th>
		<tr>
		<tr>
			<th width="5%"><input type="checkbox" /></th>
			<th width="10%">ID</th>
			<th width="35%">广告主</th>
			<th width="20%">行业</th>
			<th width="10%">素材数</th>
			<th width="10%">广告数</th>
			<th width="10%">操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="5%"><input type="checkbox" /></td>
			<td>1</td>
			<td>欧莱雅</td>
			<td>化妆品</td>
			<td>1</td>
			<td>1</td>
			<td><a href="">编辑</a></td>
		</tr>
		<tr>
			<td width="5%"><input type="checkbox" /></td>
			<td>2</td>
			<td>欧莱雅</td>
			<td>化妆品</td>
			<td>1</td>
			<td>1</td>
			<td><a href="">编辑</a></td>
		</tr>
	</tbody>
</table>
<div class="pagination pull-right">
	<ul>
		<li><a href="#">上一页</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">下一页</a></li>
	</ul>
</div>
<?php include($VIEW_PATH . "/_public/footer.html") ?>