<?php include($VIEW_PATH . "/_public/header.html"); ?>
<ul class="breadcrumb">
    <li><a href="#">首页</a> <span class="divider">/</span></li>
    <li><a href="#">广告</a> <span class="divider">/</span></li>
    <li class="active">列表</li>
</ul>
<div class="well">
    <a href="<?= Core::url(array('m' => 'advertising', 'a' => 'edit')); ?>" class="btn btn-primary btn-small">
        <i class="icon-plus icon-white"></i>添加
    </a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="12">
                <button class="btn btn-mini">修改</button>
                <button class="btn btn-mini">删除</button>
                <button class="btn btn-mini">暂停</button>
                <button class="btn btn-mini">恢复</button>
            </th>
        <tr>
        <tr>
            <th width="5%"><input type="checkbox" /></th>
            <th width="20%">广告名称</th>
            <th width="20%">广告主</th>
            <th width="20%">创意形式</th>
            <th width="20%">尺寸</td>
            <th width="15%">创建时间</th>
        </tr>
    </thead>
    <tbody id="ad_list"></tbody>
</table>
<div class="pagination pull-right"></div>
<script id="ad_item_template" type="text/template">
    <td width="5%"><input type="checkbox" name="row_checked" value="<%=id%>" /></td>
    <td><a href="javascript:void(0);" class="edit-link"><%=name%></a></td>
    <td><%=adv_name%></td>
    <td></td>
    <td></td>
    <td><%=created%></td>
</script>
<?php include($VIEW_PATH . "/_public/footer.html") ?>
