<?php include($VIEW_PATH . "/_public/header.html"); ?>
<ul class="breadcrumb">
    <li><a href="#">首页</a> <span class="divider">/</span></li>
    <li><a href="#">广告位</a> <span class="divider">/</span></li>
    <li class="active">列表</li>
</ul>
<div class="well">
    <a href="<?= Core::url(array('m' => 'publisher', 'a' => 'editSlot')); ?>" class="btn btn-primary btn-small">
        <i class="icon-plus icon-white"></i>添加
    </a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="6">
                <button class="btn btn-mini">修改</button>
                <button class="btn btn-mini">删除</button>
                <button class="btn btn-mini">暂停</button>
                <button class="btn btn-mini">恢复</button>
            </th>
        <tr>
        <tr>
            <th width="5%"><input type="checkbox" /></th>
            <th width="35%">广告位名称</th>
            <th width="15%">尺寸</th>
            <th width="15%">代码是否布署</th>
            <th width="15%">状态</th>
            <th width="15%">创建时间</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="5%"><input type="checkbox" /></td>
            <td>首页—250x250 [<a href="">取代码</a>]</td>
            <td>250x250</td>
            <td>已布署</td>
            <td>有效</td>
            <td>2013-06-27 22:13:45</td>
        </tr>
        <tr>
            <td width="5%"><input type="checkbox" /></td>
            <td>首页—250x250 [<a href="">取代码</a>]</td>
            <td>250x250</td>
            <td>已布署</td>
            <td>有效</td>
            <td>2013-06-27 22:13:45</td>
        </tr>
    </tbody>
</table>
<div class="pagination pull-right">
    <ul>
        <li><a href="#">上一页</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">下一页</a></li>
    </ul>
</div>
<?php include($VIEW_PATH . "/_public/footer.html") ?>